@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50 text-gray-900;
}

@media print {
    /* Hide everything by default if needed, but classes handle it */
    @page {
        margin: 0;
        size: auto;
    }
    
    body {
        -webkit-print-color-adjust: exact;
    }
}
